<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title center">Enter Your Input Consumptions (Percentage)</h5>
      </div>
      <div class="card-body">
        <form [formGroup]='profileForm' (ngSubmit)="onSubmit()">
          <div class="row">
            <h6 class="title" style="margin-left: 10px;">Fossil Fuels</h6>
            <div class="col-md-12">
              <div class="form-group">
                <label>Oil</label>
                <input type="text" formControlName="oil" class="form-control" placeholder="Ex 10">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
              <div class="form-group">
                <label>Natural Gas</label>
                <input type="text" formControlName="natural_gas" class="form-control" placeholder="Ex 30">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Coal</label>
                <input type="text" formControlName="coal" class="form-control" placeholder="Ex 30">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
              <h6 class="title" style="margin-left: 10px;">Sustainable Energy</h6>
            <div class="col-md-12">
              <div class="form-group">
                <label>Solar</label>
                <input type="text" formControlName="solar" class="form-control" placeholder="Ex 10">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Hydro</label>
                <input type="text" formControlName="hydro" class="form-control" placeholder="Ex 20">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<h5 class="title center">Overall Consumption On Input</h5>

<div class="panel-header panel-header-lg" style="background: rgba(130, 20, 20) !important;">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<h5 class="title center">Natural Gas</h5>

<div class="panel-header panel-header-lg" style="background: rgba(145, 61, 136) !important;">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="gasData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<h5 class="title center">Coal</h5>
<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="coalData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<h5 class="title center">Oil</h5>
<div class="panel-header panel-header-lg" style="background: rgba(34, 139, 34) !important;">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="oilData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<h5 class="title center">Hydro</h5>
<div class="panel-header panel-header-lg" style="background: rgba(44, 130, 201) !important;">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="hydroData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<h5 class="title center">Solar</h5>
<div class="panel-header panel-header-lg" style="background: rgba(211, 84, 0) !important;">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="solarData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

